/* ----------- GLOBAL ----------- */

:root{
    --mainPink:rgb(255, 185, 220, 1);
    --mainGreen:rgba(225, 255, 223, 1);
    --mainGreenPolice:#66b157;
    --mainWhite:#F3F3F3;
    --mainGrey:#616161;
    --backgroundGreen:rgba(225, 255, 223, 0.8)
}
p{
    margin:0;
    padding:0;
}
ul,li{
    list-style-type: none;
    margin:0;
    padding:0;
}
figure{
    margin:0;
    padding:0;
}
body{
    font-family: 'Fondamento', cursive;
    text-align: justify;
    color: var(--mainGrey);
    margin: 0;
    padding: 0;
}
footer p{
    width:100%;
    text-align: center;
}

/* Titres */
h1{
    font-size: 2em;
    color: var(--mainGrey);
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-weight: bold;
}
h2{
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 1.5em;
    color: var(--mainGrey);
    margin: 20px;
}
h3{
    text-align: center;
    font-size: 1.3em;
}
.container-fluid{
    margin:0;
    padding:0;
}