/* ------------ PRODUITS PAGE ------------ */

/* Product Pub */
.pubProduct{
    /* margin: 0 30px; */
    padding:0;
    position: relative;
    border: 1px solid var(--mainGreenPolice);
}

.titlePub{
    position:absolute;
    width:200px;
    top:-20px;
    left:-20px;
    padding: 10px;
    color: white;
    background-color: var(--mainPink);
}

.productName{
    font-size: 1.2em;
    color: var(--mainGreenPolice);
    text-align:center;
    padding: 10px 0;
}

.productName::first-letter{
    text-transform: uppercase;
}

#zoomProduitContainer #TitleContainerPub{
    text-align: center;
    padding: 10px 0;
    margin: 0;
}

.produitPubItemContainer:hover, .card:hover{
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.42);
}
.product{
    width:220px;
    height:260px;

}
.card img{

    height:150px;
}
.card .moreInformations a:link, .card .moreInformations a:visited{
    position: absolute;
    bottom: 45px;
    right: 5px;
    color: var(--mainPink);
}
.card-title{
    font-size: 1em;
}
.card-body{
    padding:10px;
}
.card-text{
    position:absolute;
    bottom:5px;
    left:3px;
    margin:8px;

}
.btn-success{
    background-color: var(--mainGreenPolice);
}
.buy-btn {
    position:absolute;
    bottom:5px;
    right:5px;
}